@font-face {
    font-family: Retronoid;
    src: url('Resources/Retronoid.ttf');
}

.body{
    overflow: hidden;
    margin: 0px; 
    width: 100%; 
    height: 100%; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-color: black;
}

.leftDiv{
    position: absolute;
    width: 50%;
    height: 10%;
    top: 2%;
    text-align: left;
    padding: 1vmin;
}

.rightDiv{
    position: absolute;
    width: 98%;
    height: 10%;
    top: 2%;
    text-align: right;
    padding: 1vmin;
}

.title{
    height: 100%;
    margin: 0%;
    font-size: 6vmin;
    font-family: "Retronoid";
    color: white; 
    opacity: 1.0; 
    overflow:auto;
}

.content{
    height: 100%;
    margin: 0%;
    font-size: 2.5vmin;
    font-family: "Agency FB" ;
    color: white;
    opacity: 1.0;
    overflow:auto;
}